<%- include ('partials/header') %>

    <div class="starter-template">
     <a class="btn btn-button" href="36213162">Phone</a></li>
        
        <h1 class="text-center">Vamos estudar a tabuada?</h1>
        <div class="container">
            <% for(let i=1; i<=10; i++) { %>
                <a class="btn btn-button" href="/tabuadas/do/<%= i %>">Tabuada do <%= i %> </a></li>
                <% } %>
        </div>
            
    </div>

<%- include ('partials/footer') %>
