<%- include ('../partials/header') %>

    <div class="starter-template">
        <h1> <%= num %> </h1>
        
            
            <div class="panel">
                <div class="panel-body">
                    <h2>2</h2>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>    
        
            <button class="bottom">Voltar</button>
    </div>

<%- include ('../partials/footer') %>